:root {
    --labirint-wall-color: black;
    --labirint-start-color: green;
    --labirint-end-color: red;
    --labirint-floor-color: aqua;
    --labirint-player-color: purple;
    --labirint-floor-image: url(img/floor.png);
    --labirint-player-image: url(img/player.png);
    --labirint-end-image: url(img/start-flag.png);
    --medieval-font: 'MedievalSharp';
    --bg-color: gray;
}

html {
    font-family: var(--medieval-font);
    font-size: 16px;
    background-color: var(--bg-color);
}

body {
    width: 1200px;
    margin: 0px auto;
}

header {
    text-align: center;
    margin: 30px 0px;
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#labirint-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.labirintWall {
    background-color: var(--labirint-wall-color);
}

.labirintBegin {
    background-color: var(--labirint-start-color);
}

.labirintEnd {
    background-image: var(--labirint-end-image);
    background-size: contain;
}

.labirintFloor {
    background-image: var(--labirint-floor-image);
    background-size: contain;
}

#player-box {
    position: absolute;
    background-image: var(--labirint-player-image);
    background-size: contain;
}

#player-div {
    width: 100%;
    height: 100%;
    background-image: var(--labirint-player-image);
    background-size: contain;
}

#victory {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
}

.hidden {
    display: none;
}