:root {
    --labirint-wall-color: black;
    --labirint-start-color: green;
    --labirint-end-color: red;
    --labirint-floor-color: aqua;
    --labirint-player-color: purple;
    --labirint-floor-image: url(img/floor.png);
    --labirint-player-image: url(img/player.png);
    --labirint-end-image: url(img/start-flag.png);
}

body {
    width: 1200px;
    margin: 0px auto;
}

#labirint-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.labirintWall {
    background-color: var(--labirint-wall-color);
}

.labirintBegin {
    background-color: var(--labirint-start-color);
}

.labirintEnd {
    background-image: var(--labirint-end-image);
    background-size: contain;
}

.labirintFloor {
    background-image: var(--labirint-floor-image);
    background-size: contain;
}

#player-box {
    position: absolute;
    background-image: var(--labirint-player-image);
    background-size: contain;
}

#player-div {
    width: 100%;
    height: 100%;
    background-image: var(--labirint-player-image);
    background-size: contain;
}